.card__bar {
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 21px;
    box-sizing: border-box;
    transition: all .5s ease;
}