.card__like-counter {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    min-width: 16px;
    text-align: center;
    visibility: visible;
    opacity: 1;
    transition: all .5s ease;
}